body{
	font-family: "Roboto";
}

.navbar{
	background-color: black;
}

.links{
	font-size: 0;
	list-style: none;	
}

li{
	margin-right: 25px;
	font-size: 25px;
	text-align: center;	
	display: inline-block;
}

li a{
	color: white;
	text-decoration: none;
}

li a:hover{
	color: red;
	text-decoration: none;
}

li a:active{
	text-decoration: none;
}